.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.score-sheet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.score-row {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.control-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  height: 15vh;
}

.score-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 12);
  height: 20vh;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}


.score-number {
  background-color: white;
  border-radius: 50%;
  color: black;
  padding: 10px;
}
.score-number.checked {
  background-color: rgb(110, 84, 84);
}

.lock-symbol {
  background-color: white;
  border-radius: 50%;
  color: black;
  padding: 10px;
}
.lock-symbol.checked {
    background-color: rgb(110, 84, 84);
}

.missed-turn-cell {
  background-color: white;
  border: 3px solid gray;
}
.missed-turn-cell.checked {
    background-color: rgb(110, 84, 84)
}

.score-cell-by-color {
  background-color: white;
  border-width: 3px;
  border-style: solid;
}

.score-cell-by-color.red {
  border-color: red;
}

.score-cell-by-color.yellow {
  border-color: yellow;
}

.score-cell-by-color.green {
  border-color: green;
}

.score-cell-by-color.blue {
  border-color: blue;
}

.total-score-cell {
  border: 3px solid black;
}

.control-button {
  background-color: white;
  border: 1px solid black;
}

.missed-turn-cell, .score-cell-by-color, .total-score-cell, .control-button {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
