.container {
  display: flex;
  flex-direction: row;
  background-color: red;
  padding: 1%;
  width: 100%;
  box-sizing: border-box;
}

.case {
  width: calc(100% / 14 );
  margin-right: 5px;
  box-sizing: border-box;
}

.case:last-child {
  margin-right: 0;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 5vw; /* adapte la taille du texte en fonction de la taille de la fenêtre d'affichage */
  fill: red;
  text-anchor: middle;
  dominant-baseline: middle;
}